//
//  Common
//  _____________________________________________

& when (@media-common = true) {

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {
        float: none;
        padding: 0;
        position: relative;
        flex-basis: 50%;

        .minisearch {
            position: relative;
        }

        .control {
            padding: 0;
        }

        input {
            .lib-line-height(24px);
            height: 48px;
            padding: 12px 56px 12px 16px;
        }

        .action.search {
            display: flex;
            align-items: center;
            height: 48px;
            width: 48px;
            background-image: url('@{baseDir}images/icons/magnifier.svg');
            background-position: center;
            background-repeat: no-repeat;

            &:before {
                display: none;
            }
        }
    }
}