//
//  Common
//  _____________________________________________

& when (@media-common = true) {
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    // Minicart
    .minicart-wrapper {
        margin: 0;

        .action {
            &.showcart,
            &.showcart.active {
                display: flex;
                align-items: center;

                &:before {
                    content: '';
                    height: 80px;
                    width: 80px;
                    background-image: url('@{baseDir}images/icons/cart--white.svg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    border-left: 1px solid rgba(0, 0, 0, 0.15);
                    border-right: 1px solid rgba(0, 0, 0, 0.15);
                }

            }
        }
    }

}