//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    // Page header
    .page-header {
        background-color: @color-sc-blue;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    // Page header
    .page-header {
        .logo {
            margin: 0;
            flex-basis: 25%;
        }

        .panel {
            &.wrapper {
                border-bottom: 0;
                background-color: @color-white;
            }

            &.header {
                display: flex;
                align-items: center;
            }
        }

        .content {
            padding-top: 0;
            display: flex;
            align-items: center;

            .links {
                .lib-list-reset-styles(0 0 0 auto, 0);
            }
        }

        // Customer account
        &-customer-account {
            margin: 0;
            padding: 0;

            a {
                display: flex;
                align-items: center;
                height: 80px;
                width: 80px;
                background-image: url('@{baseDir}images/icons/account--white.svg');
                background-position: center center;
                background-repeat: no-repeat;
                border-left: 1px solid rgba(0, 0, 0, 0.15);

                span {
                    display: none;
                }
            }
        }

        // Selling points
        &-selling-points {
            ul {
                .lib-list-reset-styles(0 -24px, 0);
                display: flex;
            }

            ul li {
                .lib-font-size(12);
                font-family: @heading__font-family__base;
                display: flex;
                align-items: center;
                font-weight: @font-weight__bold;
                padding: 0 24px;
                margin: 0;
                text-transform: uppercase;

                &:before {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-image: url('@{baseDir}images/icons/check--blue.svg');
                    background-size: 12px;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 8px;
                }
            }

            a {
                .lib-link(
                    @_link-color-hover: @theme__color__primary,
                    @_link-text-decoration-hover: none
                );
            }
        }

        // Links
        &-links {
            .lib-list-reset-styles(0 0 0 auto, 0);

            li {
                .lib-font-size(12);
                font-family: @heading__font-family__base;
                display: flex;
                align-items: center;
                font-weight: @font-weight__bold;
                padding: 0;
                margin: 0;
                text-transform: uppercase;

                &:before {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-image: url('@{baseDir}images/icons/headset--orange.svg');
                    background-size: 16px;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 8px;
                }

            }

            a {
                .lib-link(
                    @_link-color-hover: @theme__color__primary,
                    @_link-text-decoration-hover: none
                );
            }

        }
    }

}