<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var Magento\Customer\Block\Account\Customer $block */
?>
<?php if ($block->customerLoggedIn()): ?>
    <li class="page-header-customer-account page-header-customer-account--welcome">

        <span class="customer-account-link" role="link" tabindex="0" data-mage-init='{"dropdown":{}}' data-toggle="dropdown" data-trigger-keypress-button="true" data-bind="scope: 'customer'"></span>
        <script type="text/x-magento-init">
            {
                "*": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "customer": {
                                "component": "Magento_Customer/js/view/customer"
                            }
                        }
                    }
                }
            }
        </script>
        <div class="customer-account-menu" data-target="dropdown">

            <span class="customer-account-menu-name" role="link" tabindex="0" data-mage-init='{"dropdown":{}}' data-toggle="dropdown" data-trigger-keypress-button="true" data-bind="scope: 'customer'">
                <span class="text-name" data-bind="html: new String('<?= __('Welcome, <b>%1</b>', '%1'); ?>').replace('%1', customer().firstname)"><?= $block->escapeHtml(__('My Account')) ?></span>
                <span class="text-account"><?php echo __('My Account'); ?></span>
            </span>
            <script type="text/x-magento-init">
            {
                "*": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "customer": {
                                "component": "Magento_Customer/js/view/customer"
                            }
                        }
                    }
                }
            }
            </script>

            <ul>
                <li>
                    <a href="<?php echo $block->getUrl('customer/account') ?>"
                       title="<?php echo __('My Account'); ?>"><span><?php echo __('My Account'); ?></span></a>
                </li>
                <li>
                    <a href="<?php echo $block->getUrl('sales/order/history') ?>"
                       title="<?php echo __('My Orders'); ?>"><span><?php echo __('My Orders'); ?></span></a>
                </li>
            </ul>

            <a href="<?php echo $block->getUrl('customer/account/logout') ?>" title="<?php echo __('Sign Out'); ?>" class="customer-account-menu-logout"><span><?php echo __('Sign Out'); ?></span></a>

            <?= $block->getChildHtml() ?>
        </div>
    </li>
<?php else: ?>
    <li class="page-header-customer-account">
        <a href="<?php echo $block->getUrl('customer/account') ?>"><span><?php echo __('My Account'); ?></span></a>
    </li>
<?php endif; ?>
