//
//  Custom Local Variables - Not Magento
//  _____________________________________________

@color-sc-blue: #0655AB;
@color-sc-orange: #FF8600;

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Color variables
//  _____________________________________________

@theme__color__primary: @color-black_dark;
@theme__color__primary-alt: @color-sc-blue;

//
//  Typography variables
//  _____________________________________________

//  Borders
@border-color__base: #D8D8D8;

//  Indents
@indent__base: 24px;
@indent__xl: 40px;
@indent__l: 32px;
@indent__m: 24px;
@indent__s: 12px;
@indent__xs: 8px;

//  Line heights
@line-height__base: 22px;
@line-height__computed: 22px;
@line-height__xl: 40px;
@line-height__l: 32px;
@line-height__s: 18px;

//  Headings
@heading__font-family__base: 'Open Sans Condensed';
@heading__font-weight__base: @font-weight__bold;
@heading__line-height__base: 22px;

//
//  Layout variables
//  _____________________________________________

//  Widths
@layout__max-width: 1368px;
@layout-indent__width: 24px;
@layout__width-xs-indent: 16px;

//
//  Navigation variables
//  _____________________________________________

@navigation__background: @color-sc-blue;