//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    body.ub-sub-menu-opened {
        .ub-bg-overlay {
            content: '';
            display: block;
            position: fixed;
            z-index: 599;
            top: 140px;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    //  Level - 0
    ul.level0 > {
        list-style: none;
        position: unset;

        > li.mega {
            margin: 0;
            padding: 0;
            position: unset;

            > .mega {
                position: relative;
                color: @color-white;
                display: block;
                font-weight: @font-weight__bold;
                text-transform: none;

                &.ui-state-active,
                &:active,
                &:focus,
                &:hover {
                    background: transparent;
                    color: @color-white;
                    text-decoration: none;
                }

                &.active {
                    background: transparent;
                    color: @color-white;

                    &:after {
                        width: auto;
                    }
                }
            }

            &.has-child {
                > .mega {
                    > span.menu-title {
                        background: none;
                        padding: 0;
                    }
                }

                &.mega-hover {
                    > .mega {
                        background: transparent;
                        color: @color-white;
                        text-decoration: none;
                    }
                }
            }


        }
    }

    //  Level - 1
    ul.level1 > {
        display: block !important;
        list-style: none;
        margin: 0;
        padding: 0;

        > li.mega {
            position: relative;
            margin: 0;
            padding: 0;

            > .mega {
                line-height: 26px;
                padding: 0 !important; // !important needed to override module styling
                text-transform: none;
                font-weight: @font-weight__bold;
                display: flex;
                color: @color-black_dark;

                &.ui-state-active,
                &:active,
                &:focus,
                &:hover,
                &.active {
                    color: @color-black_dark;
                    text-decoration: none;
                }
            }

            > a.mega {
                .lib-link(
                    @_link-color: @color-black_dark,
                    @_link-text-decoration: @link__text-decoration,
                    @_link-color-visited: @color-black_dark,
                    @_link-text-decoration-visited: @link__visited__text-decoration,
                    @_link-color-hover: @color-black_dark,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @color-black_dark,
                    @_link-text-decoration-active: @link__active__text-decoration
                );

                &:after {
                    content: '';
                    height: 24px;
                    width: 24px;
                    display: block;
                    margin-left: 8px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url('@{baseDir}/images/icons/chevron-right.svg');
                }

            }
        }
    }

    //  Level - 2
    ul.level2 > {

        > li.mega {
            float: none;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;

            > .mega {
                .lib-link(
                    @_link-color: @color-black_dark,
                    @_link-text-decoration: @link__text-decoration,
                    @_link-color-visited: @color-black_dark,
                    @_link-text-decoration-visited: @link__visited__text-decoration,
                    @_link-color-hover: @color-black_dark,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @color-black_dark,
                    @_link-text-decoration-active: @link__active__text-decoration
                );
                .lib-font-size(14);
                line-height: 26px;
                font-weight: @font-weight__regular;
                padding: 0;
                opacity: 0.8;

                &.ui-state-active,
                &:active,
                &:focus,
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    // Secondary menu - Level - 0
    ul.level0.secondary-menu {
        > li.mega {
            > .mega {
                font-weight: @font-weight__regular;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break = @screen__m) {
    .nav-toggle {
        &:before {
            display: none;
        }
    }
    body:after {
        transition: opacity .3s ease-in-out;
        opacity: 0;
        pointer-events: none;
        content: '';
        position: fixed;
        z-index: 1099;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav-open {
        overflow: hidden;
        height: 100%;

        &:after {
            opacity: 1;
            pointer-events: all;
        }

        .page-navigation {
            transform: translate(0, 0);

            &:after {
                transform: translate(52px, 0);
            }
        }
    }

    .page-navigation {
        background-color: @color-sc-blue;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        transition: all .3s ease-in-out;
        transform: translate(-100%, 0);
        width: ~'calc(100% - 52px)';
        z-index: 1199;

        &:after {
            transition: all .3s .1s ease-in-out;
            transform: translate(0, 0);
            content: '';
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            width: 52px;
            height: 52px;
            background-color: darken(@color-sc-blue, 5%);
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url('@{baseDir}/images/icons/close.svg');
            z-index: 5;
        }

        .content {
            visibility: visible;
            position: relative;
            z-index: 100;
            background-color: @color-white;
            height: 100%;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        .nav-sections {

            .nav-sections-item-content {
                padding: 0;
                position: relative;
                margin-top: 0;
                background-color: @color-white;
                z-index: 10;
            }

            .nav-sections-item-title {
                display: none;
            }
        }
    }

    //  Level - 0
    ul.level0 > {
        background-color: #F2F2F2;
        margin: 0;
        padding: 16px 0;

        > li.mega {
            float: none;

            &.has-child {
                background-position: top 18px right 16px;
                background-repeat: no-repeat;
                background-image: url('@{baseDir}/images/icons/chevron.svg');
                background-size: 12px;

                .child-content {
                    background: @color-white;
                    padding: 16px;
                }
            }

            &.last {
                border-bottom: 0;
            }

            > .mega {
                padding: 0 16px;
                line-height: 44px;
            }
        }
    }

    //  Level - 1
    ul.level1 > {
        > li.mega {

            > .mega {
                margin-bottom: 0;
            }
        }
    }

    //  Level - 2
    ul.level2 > {
        margin-bottom: 12px;
    }

    // Secondary menu
    ul.level0.secondary-menu {
        background-color: @color-white;

        > li.mega {
            border: none;

            &.has-child {
                background-image: none;

                .child-content {
                    display: block !important;
                }
            }

            > .mega {
                .lib-font-size(12);
                opacity: 0.6;
                line-height: 32px;
            }
        }

        ul.level1 > {

            > li.mega {

                > .mega {
                    .lib-font-size(12);
                    opacity: 0.6;
                    line-height: 32px;
                    font-weight: @font-weight__regular;
                    margin-bottom: 0;

                    &:after {
                        display: none;
                    }
                }
            }
        }

    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break = @screen__m) {

    //  Sub-Menu
    .child-content {
        background: @color-white;
        border: none;
        top: 60px;
        left: 0;
        right: 0;
        background-color: @color-white;
        width: 100%;
        z-index: 699;
        box-shadow: none;

        .child-content-inner {
            display: block;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: @layout__max-width;
            padding: 40px @layout-indent__width 56px @layout-indent__width;
            width: auto !important; // !important needed to override inline styling

            .mega-col {
                float: none;
                display: flex;
                width: auto !important; // !important needed to override inline styling

                .level1 {
                    float: none;
                    display: flex !important; // !important needed to override module styling
                    width: 100% !important; // !important needed to override inline styling
                }
            }
        }
    }

    //  Level - 0
    ul.level0 > {
        position: unset;
        margin: 0 -8px;
        padding: 0;
        display: inline-flex !important;

        > li.mega {
            > .mega {
                .lib-font-size(15);
                .lib-line-height(56px);
                text-transform: uppercase;
                font-family: @heading__font-family__base;
                font-weight: @font-weight__bold;
                padding: 0 8px;

                &:after {
                    right: 8px;
                    left: 8px;
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: @color-sc-orange;
                }

            }

            &.mega-hover > .mega:after {
                width: auto;
            }
        }
    }

    //  Level - 1
    ul.level1 > {
        > li.mega {
            float: left;
            width: 25%;
            min-width: 25%;
            max-width: 25%;

            > .mega {
                .lib-font-size(13);
                margin-bottom: 16px;
            }
        }
    }

    // Secondary menu
    ul.level0.secondary-menu {
        margin: 0 -8px 0 auto;

        > li.mega {

            > .mega {
                .lib-font-size(13);
                padding: 0 8px;
                white-space: nowrap;
                margin: 0;
            }

            &.mega-hover > .mega:after {
                display: none;
            }

            &.mega-hover > .mega.has-child {
                &:before {
                    display: block;
                    position: absolute;
                    top: 6px;
                    right: 0;
                    bottom: 0;
                    content: '';
                    background-color: @color-white;
                    left: 0;
                    z-index: 10;
                }

                span {
                    position: relative;
                    z-index: 20;
                }
            }
        }

        ul.level1 > {
            > li.mega {
                float: none;
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                line-height: 34px;
                white-space: nowrap;

                > .mega {
                    margin-bottom: 0;

                    &:after {
                        display: none;
                    }
                }
            }
        }

        //  Sub-Menu
        .child-content {
            left: auto;
            right: 0;
            width: auto;

            .child-content-inner {
                padding: @layout-indent__width 96px @layout-indent__width @layout-indent__width;

                .mega-col {

                    .level1 {
                        flex-direction: column;
                    }
                }
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {

    //  Level - 1
    ul.level1 > {
        > li.mega {

            > .mega {
                .lib-font-size(16);
            }
        }
    }

    //  Level - 0
    ul.level0 > {
        margin: 0 -16px;

        > li.mega {
            > .mega {
                padding: 0 16px;

                &:after {
                    right: 16px;
                    left: 16px;
                }
            }
        }
    }

    // Secondary menu - Level - 0
    ul.level0.secondary-menu {
        margin: 0 -12px 0 auto;

        > li.mega {
            position: relative;

            > .mega {
                padding: 0 12px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break = @screen__xl) {

    //  Level - 0
    ul.level0 > {
        position: unset;
        margin: 0 -36px;
        padding: 0;

        > li.mega {
            position: unset;

            > .mega {
                .lib-font-size(15);
                padding: 0 36px;

                &:after {
                    right: 36px;
                    left: 36px;
                }
            }
        }
    }

    // Secondary menu - Level - 0
    ul.level0.secondary-menu {
        margin: 0 -16px 0 auto;

        > li.mega {

            > .mega {
                .lib-font-size(14);
                padding: 0 16px;
            }
        }
    }
}
