//
//  Navigation
//  _____________________________________________

.lib-main-navigation() {

}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-sections {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }

    .nav-sections-item-content {
        text-align: center;
    }
}